# Archivos y carpetas de PHP y gestores de dependencias
/vendor/
/node_modules/
/composer.lock
/package-lock.json


.env


# Archivos de caché, logs y temporales generados por la aplicación
/cache/
/log/
/temp/
*.log
*.tmp
*.bak
*.swp
*.swo

# Archivos del sistema operativo
.DS_Store
Thumbs.db


.vscode/
.idea/
*.sublime-workspace
*.sublime-project

phpunit.xml
phpunit.xml.dist


*.sql
*.sqlite
*.db

*.png~

/sessions/

# Archivos de usuario o específicos del entorno
*.user

writable/session/
writable/debugbar/*
!writable/debugbar/.gitkeep

